backtrader
scipy
xgboost
TA-Lib
pandas
gym
numpy
pandas
keras
sklearn
gym
google-api-python-client
jupyter_contrib_nbextensions
jupyterthemes
google-api-python-client
google-cloud-logging
crcmod
tensorflow-gpu
keras-rl
